.lh-08, .lh-08 *{
    line-height: 0.8 !important;
}

.lh-09, .lh-09 *{
    line-height: 0.9 !important;
}

.lh-10, .lh-10 *{
    line-height: 1.0 !important;
}

.lh-12, .lh-12 *{
    line-height: 1.2 !important;
}

.lh-15, .lh-15 *{
    line-height: 1.5 !important;
}

.lh-17, .lh-17 *{
    line-height: 1.7 !important;
}

.lh-20, .lh-20 *{
    line-height: 2.0 !important;
}

.lh-25, .lh-25 *{
    line-height: 2.5 !important;
}

.lh-30, .lh-30 *{
    line-height: 3.0 !important;
}

.lh-10, .lh-10 *{
    line-height: 1.0 !important;
}

.lh-12, .lh-12 *{
    line-height: 1.2 !important;
}

.smaller{
    font-size: 60% !important;
}
.large{
    font-size: 120% !important;
}

.larger{
    font-size: 150% !important;
}

.v-align-text-bottom{
    vertical-align: text-bottom !important;
}

.dib{
    display: inline-block !important;
}

.aspect-16x9 {
    position: relative;
    width: 100%;
}
.aspect-16x9:before {
    content:"";
    display: block;
    padding-top: 56.25%; /* 高さを幅の75%に固定 */
}
.aspect-16x9 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.aspect-1x1 {
    position: relative;
    width: 100%;
}
.aspect-1x1:before {
    content:"";
    display: block;
    padding-top: 100%; /* 高さを幅の75%に固定 */
}
.aspect-1x1 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
